.Dinos_h1{
  font-size: 20px;
  font-weight:bolder;
}

.dinos_button {
    cursor: pointer;
    margin-top: 20px;
    background-color: #8BC34A;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
  }

